{% extends 'base.html.twig' %}

{% block title %}
    Admin Panel
{% endblock %}

{% block body %}
    {% if deleted is defined %}
    <div class="alert alert-info">{{ deleted }}</div>
    {% endif %}
    {% if success is defined %}
        <div class="alert alert-success">{{ success }}</div>
    {% endif %}
    <div class="row">
    <div class="col-sm-4">
        <h2>Add New Product</h2>
        {{ form(form) }}
    </div>
    <div class="col-sm-8">
        <h2>Product List</h2>
        <table class="table table-bordered">
            <thead>
            <tr>
                <td>Name</td>
                <td>Price</td>
                <td>Stock</td>
                <td></td>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.stock }}</td>
                    <td>
                        <form method="post" action="{{ path('delete_product', {'id': product.id}) }}">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="row">
        <h2>View Orders</h2>
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>Username</th>
                <th>Address</th>
                <th>Status</th>
                <th>Approve</th>
            </tr>
            </thead>
            <tbody>
            {% for order in orders %}
                {% if order.status == 'approved' %}<tr style="background-color: greenyellow; font-weight: bold">
                {% else %}<tr>
                {% endif %}
                    <td>{{ order.id }}</td>
                    <td>{{ order.user.username }}</td>
                    <td>{{ order.address }}</td>
                    {% if order.status == 'approved' %}
                    <td colspan="2">APPROVED</td>
                    {% else %}
                    <td>{{ order.status }}</td>
                    <td>
                        <form method="post" action="{{ path('approve_checkout', {'id': order.id}) }}">
                            <button type="submit" class="btn btn-success">Approve</button>
                        </form>
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}