<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
    <ul class="nav justify-content-center">
        <li class="nav-item"><a href="/" class="nav-link">Main Page</a></li>
        {% if app.user %}
            <li class="nav-item">
                <a href="{{ path('get_orders') }}" class="nav-link">{{ app.user.username }}</a>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item">
                    <a href="{{ path('get_admin_panel') }}" class="nav-link">Admin Panel</a>
                </li>
            {% endif %}
            <li class="nav-item"><a href="{{ path('app_cart_cartpage') }}" class="nav-link">Cart</a></li>
            <li class="nav-item"><a href="{{ path('app_logout') }}" class="nav-link">Logout</a></li>
        {% else %}
            <li class="nav-item"><a href="{{ path('app_login') }}" class="nav-link">Login</a></li>
            <li class="nav-item"><a href="{{ path('app_register') }}" class="nav-link">Register</a></li>
        {% endif %}
    </ul>
    <div class="container">
        {% block body %}{% endblock %}
    </div>
    </body>
</html>
