{% extends 'base.html.twig' %}

{% block body %}
    <h2>My Shopping Cart</h2>
    <table class="table table-bordered">
        <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Remove from cart</th>
        </tr>
        {% for item in cartItems %}
            <tr>
                <td>{{ item.productName }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.price }}</td>
                <td>
                    <form method="post">
                        <input type="hidden" name="productId" value="{{ item.productId }}">
                        <button type="submit" class="btn btn-danger">Remove</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
    <a href="{{ path('app_checkout_checkoutpage') }}" class="btn btn-success">Checkout >></a>
{% endblock %}