{% extends 'base.html.twig' %}

{% block body %}
    <h2>Checkout</h2>
    <table class="table table-bordered">
        <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
        {% for item in cartItems %}
            <tr>
                <td>{{ item.productName }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.price }}</td>
            </tr>
        {% endfor %}
    </table>
    <form method="post">
        <p>Order address:</p>
        <textarea name="address"></textarea>
        <button type="submit" class="btn btn-success">Checkout</button>
    </form>
{% endblock %}