{% extends 'base.html.twig' %}

{% block body %}
    <h2>Welcome to our shopping website!</h2>

    {% if success is defined and success is not empty %}
        <div class="alert alert-success">Successfully added product to Cart.</div>
    {% endif %}

    {% if error is defined and error is not empty %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endif %}

    <table class="table table-bordered">
        <thead>
        <tr><th>Name</th><th>Price</th><th>Stock</th><th>Add to Cart</th></tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.stock }}</td>
                <td>
                    {% if app.user %}
                        <form method="post">
                            <input type="hidden" name="id" value="{{ product.id }}">
                            <input type="number" name="quantity" value="0" min="1" max="99">
                            <button type="submit" class="btn btn-link">Add to Cart</button>
                        </form>
                    {% else %} You need to login {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}