{% extends 'base.html.twig' %}

{% block title %}
My Orders
{% endblock %}

{% block body %}
    <div class="row">
    <h2>View Orders</h2>
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>Username</th>
            <th>Address</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            {% if order.status == 'approved' %}<tr style="background-color: greenyellow; font-weight: bold">
            {% else %}<tr>
            {% endif %}
            <td>{{ order.id }}</td>
            <td>{{ order.user.username }}</td>
            <td>{{ order.address }}</td>
            <td>{{ order.status }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}